<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176050060798-3jdklok1uskl7eqr4kf1crr2jckcv413.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176050060798-3jdklok1uskl7eqr4kf1crr2jckcv413</string>
	<key>API_KEY</key>
	<string>AIzaSyArkE8ELitQscegGx0sAnGigYDNWOkWPMY</string>
	<key>GCM_SENDER_ID</key>
	<string>176050060798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laceitapp.laceitapp</string>
	<key>PROJECT_ID</key>
	<string>lateitapp-test</string>
	<key>STORAGE_BUCKET</key>
	<string>lateitapp-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176050060798:ios:7aebb22be9ca40feb214af</string>
</dict>
</plist>